if (menu)
  .navbar.navbar-inverse.navbar-static-top
    .container
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="/") #{title}
      .nav-collapse.collapse.pull-right
        != menu
